.criterion {
    border: 1px solid #d9e1f2;
    background: #fbfcfe;
    padding: 1rem;
    margin: 1rem 0;
}

.rating {
    margin: 1rem 0;
}

.remove-criterion {
    position: relative;
    top: -0.5rem;
}
