
// Body
$body-bg: #f8fdff;

// Typography
$font-family-sans-serif: "Lato",Arial, sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.55;

// Colors
$blue: #2b7abc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e30714;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #227d48;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$theme-colors: (
  "primary": #71171d,
  "secondary": #2468a0,
  "info": $blue,
);
