
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'profile';
@import 'rubrics';
@import 'gradebook';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card.card-arose {
    margin: 0 0 1rem 0;
}

.breadcrumb {
    background-color: #FFF;
    margin-bottom: 2rem;
}

.olnumber {
    font-size: 1.1rem;
    left: -3rem;
    position: absolute;
    top: 0.2rem;
    color: var(--secondary);
    border: 1px solid var(--secondary);
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    text-align: center;
    line-height: 1.7;
    overflow: hidden;
}

a.profile-userpic, a.profile-userpic > img-responsive {
    display: block;
}

.form-check[data-checked="checked"] {
    order: -1;
}

.filter {
    padding-bottom: 2rem;
}
